argon2-cffi
asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
tiktoken
protobuf
psycopg2-binary
PyJWT
python-dotenv
pytz
sentencepiece
sqlparse
torch
transformers