.forgot-password {
    width: 450px;
    height: 170px;
}

.forgot-password-title {
    margin: 20px 0px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .forgot-password {
        width: 90%;
    }
}