.signup-title {
    margin: 25px 0px 20px 0px;
}

.signup {
    width: 450px;
    height: 465px;
}

.signup-button {
    margin-top: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .signup {
        width: 90%;
    }
}